## Chipotle

In [4]:
# Importing necessary libraries
import pandas as pd

In [5]:
#Importing data
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = "\t")
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:
# no. of observations:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
# Column names and no. of columns:
print('The Columns are: \n', chipo.columns)
print('No. of Rows and Columns are:', chipo.shape)

The Columns are:
 Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
No. of Rows and Columns are: (4622, 5)

In [8]:
print("The Index is:", chipo.index)

The Index is: RangeIndex(start=0, stop=4622, step=1)

In [9]:
# Most ordered item:
chipo['item_name'].value_counts()[0:1]

Chicken Bowl    726
Name: item_name, dtype: int64

In [10]:
# How many items were ordered?
print("Total items ordered:", chipo['quantity'].sum())

Total items ordered: 4972

In [11]:
# Most ordered item in the choice_description column:
print('Most Ordered Item by Choice_Description:', chipo['choice_description'].value_counts()[0:1])

Most Ordered Item by Choice_Description: [Diet Coke]    134
Name: choice_description, dtype: int64

In [22]:
# Turn item price into a float:
chipo['item_price'] = chipo['item_price'].replace('$','')
print(chipo.dtypes)
chipo.head(10)

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [23]:
# Revenue for the period:

Total_Revenue = chipo['quantity']*chipo['item_price']
print(sum(Total_Revenue))

TypeError: unsupported operand type(s) for +: 'int' and 'str'